<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Learntesting">
<listeners>
		<listener class-name="com.learntesting.utility.Reporting" />
	</listeners>
<test name="BankingApp Test">
		<parameter name="browser" value="firefox" />
		<classes>
	 <!--  	<class name="com.learntesting.testcases.TC_LoginTest_001" /> -->
        <class name="com.learntesting.testcases.TC_LoginDDT_002" /> 
   <!-- <class name="com.learntesting.testcases.TC_AddCustomerTest_003" />  -->
		</classes>

	</test>

</suite>
